<table width="100%" cellpadding="1" cellspacing="1" border="0" class="border">
	<tr>
		<td width="100%" colspan="3" class="Chead">Clandatenbank</td>
	</tr>
{EXPLODE}
<tr>
	<td width="100%" colspan="3" class="Cnorm">- Kein Clan eingetragen -</td>
</tr>
{EXPLODE}
<tr>
	<td width="10%" class="Cnorm"><img src="include/images/flags/{land2}" alt="" /></td>
	<td width="80%" class="Cnorm">{name}</td>
	<td width="10%" class="Cnorm"><a href="?clans-{oid}">mehr</td>
</tr>
{EXPLODE}
</table>
<div style="text-align:center;">{SITELINK}</div>