<script language="JavaScript">function MM_jumpMenu(targ,selObj,restore){eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");if (restore) selObj.selectedIndex=0;}</script>
<div><div style="float:left";>Navigation:&nbsp;</div><div style="float:left;"><form name="navi">
<select name="menu1" onChange="MM_jumpMenu('parent',this,0)">
<option value="admin.php?wars">[ bitte auswählen ]</option>
<option value="admin.php?wars-last">Last Wars</option>
<option value="admin.php?wars-next">Next Wars</option>
<option value="admin.php?wars-fightus">FightUs-Anfragen</option>
<option value="admin.php?wars-opponent">Gegnerverwaltung</option>
<option value="admin.php?wars-teams">Teamverwaltung</option>
<option value="admin.php?wars-check">Versionskontrolle</option>
</select>
</form>
</div>
</div>
<br />
<br />
<br />
<div>
<table width="600" cellpadding="5" cellspacing="1" border="0">
  <tr class="Callg">
    <td colspan="5"><h2><b>Gegner</b></h2></td>
    </tr>{EXPLODE}
    <tr class="Cmite">
    <td colspan="5"><h3><b>Eintragen</b></h3></td>
    </tr>
    <form action="admin.php?wars-opponent-save" method="POST" enctype="multipart/form-data">
 
    <tr>
      <td colspan="2" width="100" class="Cnorm">Name</td>
        <td colspan="3" width="400" class="Cmite"><input type="text" name="name"></td>
    </tr>
    <tr>
      <td colspan="2" width="100" class="Cnorm">Clantag</td>
        <td colspan="3" width="400" class="Cmite"><input type="text" name="tag"></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Homepage (mit http://)</td>
        <td colspan="3" class="Cmite"><input type="text" size="50" value="http://" name="hp"></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Land</td>
        <td colspan="3" class="Cmite"><select name="land">{_list_land@<option%1 value="%2">%3</option>}</select></td>
    </tr>
    <td colspan="2">
<fieldset>
              <legend>Logo-Upload</legend>
                <label style="float:left; width:50%;">&nbsp;</label><input style="margin-bottom:2px;" type="file" name="avatarfile" /><br /><font class="smalfont"><br />Empfohlene Größe des Logos: 100x100.</font><br />
            </fieldset>
    </td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (Name)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontaktname" value="" /></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (E-Mail)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontaktemail" value="" /></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (ICQ)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontakticq" value="" /></td>
    </tr>
    <tr>
      <td colspan="2"></td>
        <td colspan="3"><input type="submit" name="new" value="Eintragen"></form>
    </tr>
 
</form>
{EXPLODE}
<tr class="Cmite">
    <td colspan="5"><h3><b>Ändern</b></h3></td>
    </tr>
    <form action="admin.php?wars-opponent-save-{oid}" method="POST" enctype="multipart/form-data">
 
    <tr>
      <td colspan="2" width="100" class="Cnorm">Name</td>
        <td colspan="3" width="400" class="Cmite"><input type="text" name="name" value="{name}"></td>
    </tr>
        <tr>
      <td colspan="2" width="100" class="Cnorm">Clantag</td>
        <td colspan="3" width="400" class="Cmite"><input type="text" name="tag" value="{tag}"></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Homepage (mit http://)</td>
        <td colspan="3" class="Cmite"><input type="text" size="50" value="{homepage}" name="hp"></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Land</td>
        <td colspan="3" class="Cmite"><select name="land">{_list_land@<option%1 value="%2">%3</option>}</select></td>
    </tr>
    <tr>
    <td colspan="2">
<fieldset>
              <legend>Logo-Upload</legend>
                <label style="float:left; width:50%;">&nbsp;</label><br />{logo2}<input type="checkbox" value="yes" name="avatarloeschen" /> {_lang_delete}?<br /><br />
                <label style="float:left; width:50%;">&nbsp;</label><input style="margin-bottom:2px;" type="file" name="avatarfile" /><br /><font class="smalfont"><br />Empfohlene Größe des Logos: 100x100.</font><br />
            </fieldset>
    </td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (Name)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontaktname" value="{kontaktname}" /></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (E-Mail)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontaktemail" value="{kontaktemail}" /></td>
    </tr>
    <tr>
      <td colspan="2" class="Cnorm">Kontakt (ICQ)</td>
        <td colspan="3" class="Cmite"><input type="text" name="kontakticq" value="{kontakticq}" /></td>
    </tr>
    <tr>
      <td colspan="2"></td>
        <td colspan="3"><input type="submit" name="edit" value="Ändern"></form>
    </tr>
 
</form>
{EXPLODE}
</table>
<table width="600" cellpadding="5" cellspacing="1" border="0">
<tr class="Chead">
    <td width="100%" colspan="3"> Alle Gegner </td>
</tr>
{EXPLODE}
<tr class="Cnorm">
    <td width="50%">{name} ({tag})</td>
    <td width="25%"><a href="admin.php?wars-opponent-edit-{oid}"><img src="include/images/icons/edit.gif" alt="edit" /></a></td>
    <td width="25%"><a href="admin.php?wars-opponent-del-{oid}"><img src="include/images/icons/del.gif" alt="delete" /></a></td>
</tr>
{EXPLODE}
</table>
 
</div>